<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>29</integer>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>LATIN</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Latin</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>MATHE</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>sub subjects</key>
		<array>
			<dict>
				<key>pondNum</key>
				<integer>2</integer>
				<key>pondDen</key>
				<integer>3</integer>
				<key>name</key>
				<string>Histoire</string>
				<key>code</key>
				<string>HISTO</string>
			</dict>
			<dict>
				<key>pondNum</key>
				<integer>1</integer>
				<key>pondDen</key>
				<integer>3</integer>
				<key>name</key>
				<string>Instruction civique</string>
				<key>code</key>
				<string>INCIV</string>
			</dict>
		</array>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>BRCO1</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Histoire / Civique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PHILO</string>
		<key>coefficient</key>
		<real>2</real>
		<key>name</key>
		<string>Philosophie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>GEOGR</string>
		<key>coefficient</key>
		<real>2</real>
		<key>name</key>
		<string>Géographie</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>ECOPO</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Économie politique</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>ECOGE</string>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Économie de gestion</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUPH</string>
		<key>coefficient</key>
		<real>1</real>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>COUAO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Cours à option</string>
	</dict>
</array>
</plist>
