<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>28</integer>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>4LAVI</string>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>4e langue vivante</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>GRECA</string>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Grec ancien</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PHILO</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Philosophie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>HISTO</string>
		<key>coefficient</key>
		<real>2</real>
		<key>name</key>
		<string>Histoire</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ECOGN</string>
		<key>coefficient</key>
		<real>2</real>
		<key>name</key>
		<string>Économie générale</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUPH</string>
		<key>coefficient</key>
		<real>1</real>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>COUAO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Cours à option</string>
	</dict>
</array>
</plist>
