<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>27</integer>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>MATHE</string>
		<key>coefficient</key>
		<real>2</real>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PHILO</string>
		<key>coefficient</key>
		<real>2</real>
		<key>name</key>
		<string>Philosophie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUPH</string>
		<key>coefficient</key>
		<real>1</real>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDART</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Éducation artistique</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>EDMU1</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Éducation musicale I</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>EDMU2</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Éducation musicale II</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDMU3</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Éducation musicale III</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>COUAO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Cours à option</string>
	</dict>
</array>
</plist>
