<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>28</integer>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>LATIN</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Latin</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>MATHE</string>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>SCNAT</string>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Sciences naturelles</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>HISTO</string>
		<key>coefficient</key>
		<real>2</real>
		<key>name</key>
		<string>Histoire</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>GEOGR</string>
		<key>coefficient</key>
		<real>2</real>
		<key>name</key>
		<string>Géographie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUAR</string>
		<key>coefficient</key>
		<real>1</real>
		<key>name</key>
		<string>Éducation artistique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUPH</string>
		<key>coefficient</key>
		<real>1</real>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>INFOR</string>
		<key>coefficient</key>
		<real>1</real>
		<key>name</key>
		<string>Informatique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>VIESO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Vie et société</string>
	</dict>
</array>
</plist>
