<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>31</integer>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>BIOGE</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Biologie générale</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>BIOSO</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Biologie humaine</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>CHIMI</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Chimie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PHYSI</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>INFAP</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Informatique appliquée</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDCIT</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Éducation à la citoyenneté</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUPH</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>VIESO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Vie et société</string>
	</dict>
</array>
</plist>
