<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bf</key>
		<true/>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Chimie</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>coefficient</key>
		<real>4</real>
		<key>name</key>
		<string>Physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Informatique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Technologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>3</real>
		<key>name</key>
		<string>Éducation à la citoyenneté</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>1</real>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>1</real>
		<key>name</key>
		<string>Vie et société</string>
	</dict>
</array>
</plist>
