<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>33</integer>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>MATHE</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PHYCH</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Physique / Chimie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>HIEGO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Histoire / Géographie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUPH</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>OPMOR</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Morch / Vieso</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>COMPT</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Comptabilité</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ECOGE</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Économie de gestion</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>ECOPO</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Économie politique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>INFOR</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Informatique</string>
	</dict>
</array>
</plist>
