<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>35</integer>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>BIOLO</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Biologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>MATHA</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>PSYCH</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Psychologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>SOCIO</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Sociologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>PEDAG</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Pédagogie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>METRS</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Méthodologie du travail</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>METPR</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Méthodologie de la pratique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>COMMU</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Communication</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>DEVEL</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Développement</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PEAPS</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Pédagogie des activités</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDMUS</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Éducation musicale</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDART</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Éducation artistique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PSYMO</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Psychomotricité</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>PRAPR</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Pratique professionnelle</string>
	</dict>
</array>
</plist>
