<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>35</integer>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>MATHE</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>CHIMI</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Chimie</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>PHYSI</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ELETE</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Électrotechnique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>INFOR</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Informatique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>MECAN</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Mécanique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>TECNO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Technologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>CONMO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Connaissance du monde</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUPH</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>VIESO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Vie et société</string>
	</dict>
</array>
</plist>
