<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>27</integer>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>CONMO</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Connaissance du monde</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>SOCIO</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Sociologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>PSYCO</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Psychologie et communication</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ECOPO</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Économie politique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>MATHE</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>QUEPH</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Questions philosophiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PEDAG</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Pédagogie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDUPH</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>CHOPT</string>
		<key>coefficient</key>
		<integer>0</integer>
		<key>name</key>
		<string>Choix option</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>TRAPE</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Travail personnel</string>
	</dict>
</array>
</plist>
