<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bf</key>
		<true/>
		<key>coefficient</key>
		<real>0</real>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>0</real>
		<key>name</key>
		<string>Luxembourgeois</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>0</real>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>coefficient</key>
		<real>0</real>
		<key>name</key>
		<string>Mathématiques</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>coefficient</key>
		<real>0</real>
		<key>name</key>
		<string>Éducation artistique</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>coefficient</key>
		<real>0</real>
		<key>name</key>
		<string>Éducation physique</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>coefficient</key>
		<real>0</real>
		<key>name</key>
		<string>Nouvelles technologies de l&apos; information</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>coefficient</key>
		<real>0</real>
		<key>name</key>
		<string>Tutorat</string>
	</dict>
</array>
</plist>
