<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>29</integer>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>FRANC</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ALLEM</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Allemand</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ANGLA</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Anglais</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>PSYCH</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Psychologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>SOAES</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Sociologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>BIOLO</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Biologie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>METPR</string>
		<key>coefficient</key>
		<integer>1</integer>
		<key>name</key>
		<string>Méthodologie de la pratique</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>PEDAG</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Pédagogie</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EDMED</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Éducation aux médias</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>DEVEL</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Développement</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>EXPAN</string>
		<key>coefficient</key>
		<integer>3</integer>
		<key>name</key>
		<string>Expression et animation</string>
	</dict>
	<dict>
		<key>bf</key>
		<false/>
		<key>code</key>
		<string>ETDDD</string>
		<key>coefficient</key>
		<integer>2</integer>
		<key>name</key>
		<string>Éthique</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>PRAPR</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Pratique professionnelle</string>
	</dict>
</array>
</plist>
