<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficientSum</key>
		<integer>28</integer>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>CONLA</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Connaissances de langues</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>CONCG</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Connaissance de culture générale</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>BIOHU</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Biologie humaine</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>COPRB</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Connaissances professionnelles</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>SCMED</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Sciences médicales</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>COSPI</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Concepts de soins et problèmes</string>
	</dict>
	<dict>
		<key>bf</key>
		<true/>
		<key>code</key>
		<string>COPRD</string>
		<key>coefficient</key>
		<integer>4</integer>
		<key>name</key>
		<string>Connaissances professionnelles relationnelles</string>
	</dict>
</array>
</plist>
